include page.pug
include batch.pug
include step.pug
include success.pug
include error.pug
include empty.pug
include batchMessage.pug
include discount.status.pug
include discount.issue.type.pug
include discount.used.pug
include discount.apply.pug
include stopLoanMessage.pug
include batchMessage.pug
include forbid.update.pug
include discount.effective.pug
